@model IEnumerable<E3DBPI.ViewModels.RoleManager_ViewModel>
        @{
            ViewBag.Title = "Role Manager";
        }

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="box-title">
                    <b>Defined Roles</b>
                </h3>
            </div>
            <!-- /.box-header -->
            <div class="panel-body">
                <table class="table table-hover table-bordered table-condensed" id="example1">
                    <thead>
                        <tr>
                            <td><b>Role ID</b></td>
                            <td><b>Role Name</b></td>
                        </tr>
                    </thead>
                    @foreach (var role in Model)
            {
                        <tr> 
                            <td>@role.Id</td>
                            <td>@role.Name</td>

                        </tr>
                    }
                </table>
            </div>

            <div class="panel-footer">
                <p class="box-title"><b>Total Roles as of @String.Format("{0 : dddd, MMMM d, yyyy}", DateTime.Now)  : </b><span class="label label-primary">@Model.Count() </span></p>
            </div>
        </div>


        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="box-title"><b>Create Roles</b></h3>
            </div>

            @using (Html.BeginForm("NewRole", "Admin", FormMethod.Post))
            {
                <div class="row">
                    <div class="col-md-6">
                        <label class="control-label">Role Name</label>
                        <input type="text" class="form-control" name="RoleName" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <button type="submit" value="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>

            }
        </div>


        @section scripts{
            <script>
                $(function () {
                    $("#example1").DataTable();
                    $('#example2').DataTable({
                        "paging": true,
                        "lengthChange": true,
                        "searching": true,
                        "ordering": true,
                        "info": true,
                        "autoWidth": true
                    });
                });
            </script>
        }
