
@{
    ViewBag.Title = "EmailSent";
}

<h2>Email Confirmation Sent</h2>

<p>An Email message has been sent to the address you just registered with.  Please check your Email and click on the provided link to confirm your Email Account.</p>

<p>You will be directed back to the site and can Login to your account.</p>

<p>Thank you!</p>

