@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm"}))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav mr-sm-auto">
        <li class="nav-item">
            @*use a membership redirect  here to send users to their authenicated profile page, based on their system role*@
            @*@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "MemberRedirect", "Manage", routeValues: null, htmlAttributes: new { title = "User Profile" })*@
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link text-white"})</li>
        <li class="nav-item"><a class="btn btn-md btn-dark" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav">
        <li class="nav-item">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link   m-1 h6 mr-5 text-white " })</li>
        <li class="nav-item">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link   m-1 h6 mr-5 text-white" })</li>
    </ul>
}
