<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/a256e82a-063d-4f3b-b804-7eb90b4204ed/resourceGroups/DBPI/providers/Microsoft.Web/sites/E3DBPI20180607025039</ResourceId>
    <ResourceGroup>DBPI</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://e3dbpi20180607025039.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>e3dbpi20180607025039.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>E3DBPI20180607025039</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$E3DBPI20180607025039</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SiteDBEntities" Order="1" Enabled="False">
          <Destination Path="Server=tcp:dbpisql.database.windows.net,1433;Initial Catalog=DBPIsiteDB;Persist Security Info=False;User ID={dbpisqladmin};Password={E3dbpsqladmin};MultipleActiveResultSets=False;Enc" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="E3DBPI.Models.SiteDBEntities, E3DBPI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="E3DBPI.Models.ApplicationDbContext, E3DBPI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SiteDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.E3DBPImodel.csdl|res://*/Models.E3DBPImodel.ssdl|res://*/Models.E3DBPImodel.msl;provider=System.Data.SqlClient;provider connection string="Server=tcp:dbpisql.database.windows.net,1433;Initial Catalog=DBPIsiteDB;Persist Security Info=False;User ID={dbpisqladmin};Password={E3dbpsqladmin};MultipleActiveResultSets=False;Enc"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>