@model E3DBPI.Models.SendContactViewModel
@{
    ViewBag.Title = "Contact Contraxtor";
}
<div class="container-fluid m-0 p-0">
    <div class="bg-light" style="padding:0 15% 0 15%">
        <div class="card shadow-lg">
            <img class="card-img-top" src="~/Images/section3.png" />
            <div class="card-img-overlay" style="padding:9rem">
                <h5 class="card-title text-white text-center h3">@ViewBag.Title!</h5>
            </div>
            <div class="card-body bg-light">
                <form class="float-left w-50 pl-5" name="ContactSubmit" id="ContactSubmit" action="/Home/ContactSubmit" method="post" novalidate>
                    @Html.AntiForgeryToken()
                    <div class="form-row">
                        <div class="row" style=" padding-right:6rem; border-right:2px solid grey">
                            <div class="col-md-12">
                                <div class="form-group mb-3">
                                    <input type="email" name="Email" id="Email" class="form-control" placeholder="Email Address" data-val="True" data-val-email="The Email entered is not a valid e-mail address. " oninput="setCustomValidity(''); checkValidity()" oninvalid="this.setCustomValidity('Please enter your email address')" required />
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group mb-3">
                                    <input type="text" name="fname" title="First Name" class="form-control fname" placeholder="First Name" id="fname" oninput="setCustomValidity(''); checkValidity()" oninvalid="this.setCustomValidity('Please enter your First Name')" required />
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group mb-3">
                                    <input type="text" name="lname" title="Last Name" id="lname" class="form-control" placeholder="Last Name" required />
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group mb-3">
                                    <input type="text" name="company" title="Company Name" id="company" class="form-control" placeholder="Company Name" required />
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group mb-3">
                                    <input type="tel" name="phone1" id="phone1" class="form-control" placeholder="Contact Number" required />
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div id="category" class="form-group mb-3">
                                    <select name="category" class="form-control category custom-select" id="category">
                                        <option selected>Select Your Interest</option>
                                        <option>Manage our projects</option>
                                        <option>Document and drawing management</option>
                                        <option>Industry connections</option>
                                        <option>New Job Leads</option>
                                    </select>
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group mb-3">
                                    <textarea class="form-control" placeholder="Message" rows="3" required id="comment" name="comment" oninput="setCustomValidity(''); checkValidity()" oninvalid="this.setCustomValidity('Please enter your Message')"></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div style="margin-left:0 auto;margin-right:0 auto;text-align:center" class="g-recaptcha" data-sitekey="6LeMJmAUAAAAAEJ1Th7wJTF2yS_2HUSln3RkHaGe"></div>
                                <div>
                                    <asp:Label ID="sendmessage" runat="server" Text=""></asp:Label>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12">
                            <div id="success"></div>
                            <!--<asp:Button ID="BtnNext" runat="server" Text="Send Message" class="btn btn-xl btn-primary" />-->
                            @*<button type="submit">Submit</button>*@
                            <input type='reset' id='clearButton' name='clearButton' value='Clear Message' class="btn btn-md btn-danger shadow" />
                            <input type='submit' id='BtnNext' name='BtnNext' value='Send Message' class="btn btn-md btn-primary shadow" style="text-transform:none !important" />
                        </div>
                        <div style="font-size:18px;margin:10px 0;padding:10px;color: #ff0000;text-align:center;font-weight:700;">
                            @*<span style="display:inline-block; font-size:20px;margin:20px 0;padding:20px;color: #000">
                            *@
                            @ViewBag.Message
                            @*
        </span>*@
                            
                        </div>

                    </div>
                    

                </form>
                <div class="row float-right w-50 p-5 ">
                    <div class="col-md-12 mb-5">
                        <h4>Address</h4>
                        <p>17875,Von Karman Ave,Irvine,CA 92614</p>
                    </div>
                    <div class="col-md-12 mb-5">
                        <h4>Let's Talk!</h4>
                        <p>1(800)-500-9999</p>
                    </div>
                    <div class="col-md-12 mb-5">
                        <h4>Email Us!</h4>
                        <p>example@e3imagegroup.com</p>
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>
</div>

@section Scripts {

    @Scripts.Render("~/bundles/jquery")

    <script type="text/javascript" src="https://www.google.com/recaptcha/api.js" async defer></script>

    <script type="text/javascript" language="javascript">
        $(document).ready(function () {
            $("#Email").focus();
        });
    </script>
}


