@{
    ViewBag.Title = "Contraxtor Home";

}

<section id="home" style="min-height:100%; min-width:100%; margin:0; padding:0;">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active" style="width:10px;height:10px; border-radius:100%"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1" style="width:10px;height:10px; border-radius:100%"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2" style="width:10px;height:10px; border-radius:100%"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3" style="width:10px;height:10px; border-radius:100%"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4" style="width:10px;height:10px; border-radius:100%"></li>
        </ol>
        <div class="carousel-inner" style="max-height:680px;">
            @*<div class="carousel-caption position-absolute " style="top:25%; left:auto; right:auto">
                <div class="container ml-0 d-flex justify-content-start w-50 h-auto" style="max-width:800px;text-align:left; line-height:30px;">
                    <p>
                        Transform your E-AEC with<br /><b>CONTRAXTOR</b><br />
                        For those who Design, Engineer, Bid and Transform our world, Contraxtor is how professionals get more done.<br />
                        <button class="btn btn-md" style="color:#000;font-size:20px; border-width:0px; box-shadow:0 8px 6px -6px">Why Contraxtor?</button><br />
                        Already using CONTRAXTOR?<br />
                        Upgrade to the next level of CONTRAXTOR now!
                    </p>
                </div>
            </div>*@
            <div class="carousel-item active">
                <img class="d-block w-100" src="~/Images/Main_homepageRecolor (1).png">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/Images/slide3.jpg">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/Images/slide4.jpg">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/Images/slide5.jpg">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/Images/slide6.jpg">
            </div>
        </div>
    </div><hr/>
    <div class="row botfold" style="padding:0 50px 0 50px">
        <div class="col-md-12"><h3 style="color:#000; text-align:center">project management solutions to work without limits</h3></div>
        <div class="col-md-6">
            <p style="color:#000; margin-top:20px">Contraxtor designs collaborative planroom and project management solutions that enable the most paper-concentrated industries 
            to go paperless, stremline processes, reduce expenses, and improve project interaction.</p>
            <p style="color:#000; margin-top:20px">Contraxtor keeps teams on the same page throught the design process, helps move the project forward during construction, and preserves 
            important project data throught completion and beyond</p>
            <button class="btn btn-md">Learn More About Contraxtor</button>
            <p style="color:#000;margin-top:20px">
                Alreadiy Using Contraxtor?<br />
                Upgrade to the next level of Contraxtor now.
            </p>
        </div>
        <div class="col-md-6">
            <img class="shadow-lg" src="~/Images/photodune-689346-construction.jpg" alt="..." style="margin-top:20px; width:75%; height:auto" />
        </div>
    </div><hr/>
    <div class="row seewhat">
        <div class="col-md-12">
            <h1 class="pb-3" style="text-align:center">See what <b>Contraxtor</b> can do to <b>Transform your E-AEC World</b></h1>
        </div>
        <div class="col-md-12">
            <h2 class="pb-3 pt-3" style="color:#000;font-weight:500;text-align:center">Contraxtor brings your whole building world together in one powerful rea-time collaborative system, designed especially for architects, engineers, and specialty contractors.</h2>
        </div>
        <div class="col-md-12">
            <h1 class="pt-3 pb-3" style="text-align:center;">See what <b>Contraxtor</b> can do for your project team</h1>
        </div>
    </div>
    <div class="row center" style="padding-top:40px; margin-left:100px; text-align:center; margin-right:0; margin-left:0;">
        <div class="card-columns w-50 h-auto justify-content-center center" style="margin-left:100px; ">
            <div class="card seewhat">
                <img class="card-img-top" src="~/Images/arch_icon.png" />
                <div class="card-text">Architects</div>
            </div>
            <div class="card seewhat">
                <img class="card-img-top" src="~/Images/eng_icon.png" />
                <div class="card-text">Engineers</div>
            </div>
            <div class="card seewhat">
                <img class="card-img-top" src="~/Images/GC.png" />
                <div class="card-text">General Contractors</div>
            </div>
            <div class="card seewhat">
                <img class="card-img-top" src="~/Images/subs.png" />
                <div class="card-text">Sub Contractors</div>
            </div>
            <div class="card seewhat">
                <img class="card-img-top" src="~/Images/superintendent.png" />
                <div class="card-text">Suprintendents</div>
            </div>
            <div class="card seewhat">
                <img class="card-img-top" src="~/Images/Publicworks.png" />
                <div class="card-text">Public Workers</div>
            </div>
            <div class="card seewhat">
                <img class="card-img-top" src="~/Images/owner_icon.png" />
                <div class="card-text">Owners</div>
            </div>
            <div class="card seewhat">
                <img class="card-img-top" src="~/Images/partners.png" />
                <div class="card-text">Contraxtor Partners</div>
            </div>
        </div>
    </div>        
        <hr />

    <div class="row" style="margin:0 50px 0 50px; margin-top:50px">
    <div class="col-md-12">
        <p style="color:darkorange; font-size:40px; text-align:center">WHY CONTRAXTOR?</p>
    </div>
    <div class="card-columns" style="margin-top:50px;">
        <div class="card whycon shadow-lg text-white bg-dark">
            <ul>
                <li>Real-Time Project Collaboration</li>
                <li>Turnkey Project Development</li>
                <li>Edit Project Documents in Real-Time</li>
                <li>Docs and Photos</li>
                <li>Intuitive Platform from Design to Completion</li>
                <li>Public Jobs Listing Bids</li>
                <li>Private Job Request</li>
                <li>Manage & Track Projects</li>
                <li>Easy ITB Process</li>
            </ul>
        </div>
            <div class="card whycon shadow-lg text-white bg-dark">
                <ul>
                    <li>Effortless proposals</li>
                    <li>Share Files / Photos / Documents within Company or Project</li>
                    <li>Simplified Time Management</li>
                    <li>Instantly Collaborate & Share</li>
                    <li>Project Information & Updates</li>
                    <li>Imporove Client Communications</li>
                    <li>Direct with Client/Owner</li>
                    <li>Easily Track Change Orders</li>
                </ul>
            </div>
            <div class="card whycon shadow-lg text-white bg-dark">
                <ul>
                    <li>Bid Proposals</li>
                    <li>Daily Project logs and Auto Trails</li>
                    <li>Internal Tasks and Developement Tracking</li>
                    <li>Coordinating Schedules with Field and Offfice</li>
                    <li>Streamline Bidding</li>
                    <li>Track Complete Project Activity</li>
                    <li>Real-time app for the field (coming soon)</li>
                    <li>Custom Login for Company Project and Contractor Levels</li>
                </ul>
            </div>
            <div class="card whycon shadow-lg text-white bg-dark">
                <ul>
                    <li>Company Administration</li>
                    <li>Share internal Company-Wide and Project Specific Documents</li>
                    <li>Minimize Errors in the Field</li>
                    <li>Gain Real-Time Insights for better decision-making with collaboration</li>
                    <li>Improve Accountability</li>
                    <li>Increase Project Profitabilty</li>
                </ul>
            </div>
            <div class="card whycon shadow-lg text-white bg-dark">
                <ul>
                    <li>Revenue Generation Options for Reprographic Companies</li>
                    <li>Customized Branded Sites / Landing Pages</li>
                    <li>No Geographic Boundaries</li>
                    <li>Cost-Effective Membership Options to Grow Your Firm</li>
                    <li>Quickly and Effectively transfer existing clintele</li>
                    <li>Unique Company and Team Member</li>
                    <li>Draw more excited Customers</li>
                    <li>Public and Private Jobs</li>
                    <li>Direct Print Options</li>
                </ul>
            </div>
     </div>
</div><hr/>
    <div class="row">
        <div class="col-md-12 p-5" style="padding-top:20px;padding-bottom:20px;background-image:url(/Images/slide2.jpg)">
            <h1 style="color:#fff;text-align:center;letter-spacing:2px; line-height:1.2em;">
                "Contraxtor is a necessary software tool for AEC firms of any size looking for a project management solution without limits"
            </h1>
            <h4 style="color:#000;text-align:center; margin-top:20px; line-height:1.2em;">Jim Moore, Owner at BellBlue Reprographics, Ocenside, CA</h4>
        </div>
    </div><hr/>
    <div class="row" style="margin:30px 0 30px 0">
        <div class="col-md-12">
            <h1 style="text-align:center">Contraxtor News and Events</h1>
        </div>
    </div>
    <div class="card-columns" style="text-align:left; margin:0 50px 50px 50px">
        <div class="card news shadow text-white bg-dark" style="text-align:center;">
            <img class="card-img-top" src="~/Images/slide2.jpg">
            <h4>CONTRAXTOR + PROJECT UNIVERSE</h4>
            <p style="font-size:14px; text-align:left">Contraxtor software instrumental in the creation of the Universe.  You're welcome world for the design build and planning</p>
        </div>
        <div class="card news shadow text-white bg-dark" style="text-align:center">
            <img class="card-img-top" src="~/Images/slide3.jpg">
            <h4>CONTRAXTOR HEADLINES CONFERENCE</h4>
            <p style="font-size:14px; text-align:left">Connect, learn and get inspired at Contraxtor's immersive World Tour user conference.<br /> &nbsp;</p>
        </div>
        <div class="card news shadow text-white bg-dark" style="text-align:center">
            <img class="card-img-top" src="~/Images/slide4.jpg">
            <h4>GENIES</h4>
            <p style="font-size:14px; text-align:left">Contraxtor launches the first ever money generating application that works the same as rubbing a genie lamp."</p>
        </div>
    </div>
</section>