@{
    ViewBag.Title = "DBPI Home";

}

<style>
    /*body {
        background-image: url('../Images/AdobeStock_142704236.jpeg');
        background-image: url('../Images/wavey-bg_2.png');
        background-repeat: no-repeat;
        background-size: cover
    }*/

</style>

<div class="row" style="background-image: url(~/Images/AdobeStock_142704236.jpeg);
        background-position:top;
        background-repeat: no-repeat;
        background-size:cover;">
    <div class="col-md-6" style="background-color:#cccccc; opacity:.9;">
        <h2>Transform your E-AEC with</h2>
        <h1 style="color:aqua">DBPI</h1>
        <p>For those who design, engineer, bid and transform our world, DBPI is how professionals get more done.</p>
        <button type="button" class="btn btn-primary btn-sm">Learn More about DBPI</button>
        <p>
            Aready Using DBPI?<br />
            Upgrade to the next level of DBPI now.
        </p>
    </div>
    <div class="col-md-6">

    </div>
</div>



<div class="row">
    <div class="col-md-6 rounded15" style="text-align:center; opacity:.9;">
        <p style="font-size:18px;line-height:30px;font-weight:bold;padding:10px;">
            Design Build Plan IT (DBPI), is a premier collaborative planroom and project management solution designed for busy AEC professionals.
            Whether you are looking to grow a small boutique firm, or streamline processes within a multi-functional firm, AEC professionals rely on
            DBPI’s ease-of-use platform to collaborate, communicate, share, design, and track the progress of complexities of a
            project in real time. Thus, saving valuable time and unnecessary expenses from concept through development.
            Unlock the power of efficiency, and transform your E-AEC world today!
        </p>
    </div>
    <div class="col-md-6">
        @*<div style="position:relative;height:0;padding-bottom:56.21%;height:100%;width:auto">
            <iframe src="https://www.youtube.com/embed/gU62ghqZFYs?ecver=2" style="position:absolute;left:0" width="570" height="340" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>*@
    </div>
</div>

<div class="row" style="margin-top:80px">
    <div class="col-md-6">
        @*<div style="position:relative;height:0;padding-bottom:56.21%;height:100%;width:auto">
        <iframe src="https://www.youtube.com/embed/gU62ghqZFYs?ecver=2" style="position:absolute;left:0" width="570" height="340" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>*@
    </div>
</div>

