
@{
    ViewBag.Title = "TermsOfUse";
}

<h2>Terms and Conditions</h2>

<a href="javascript:void(0);" onclick="history.go(-1);" class="btn btn-xl btn-primary" role="button" aria-disabled="true">Return</a>


