<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width-device-width" />
    <title>Your requested information from DBPI</title>

<style>
    body {
        font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
</style>

</head>
<body>
    <div style="font-size:14px;">

<p>A request to reset your password has been received!<p>
<p>If you are the one who made the request, please click this <a href="@ViewBag.Token">link</a>.</p>
<p>You will be brought to DBPI where you can reset your password and log into your account.</p>

        <p>If you are using a plain-text browser, please click on the link below:</p>
        <p>@ViewBag.ShowUrl</p>
    </div>
</body>
</html>
