<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width-device-width" />
    <title>Welcome to DBPI</title>

<style>
    body {
        font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
</style>

</head>
<body>
    <div style="font-size:14px;">

<p>Thank you for signing up to <b>Design Build & PlanIt</b>!<p>
<p>Please confirm your Email address by clicking this <a href="@ViewBag.Token">link</a>.</p>
<p>You will be brought to DBPI and a message will be displayed confirming your Account status.  You will be able to log into your account at that point.</p>

        <p>If you are using a plain-text browser, please click on the link below:</p>
        <p>@ViewBag.ShowUrl</p>
    </div>
</body>
</html>
