@{
    ViewBag.Title = "Contact DBPI";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    E3 Image Group<br />
    Aliso Viejo, CA  92656<br />
    
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:info@e3imagegroup.com">info@e3imagegroup.com</a><br />
</address>