
@{
    ViewBag.Title = "Email Confirmation Sent";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-12">
        <h3>Account Registration Complete</h3>
    </div>
    <div class="col-md-12">
        <p>We've set up your account and files and you're almost ready to go! As part of our security, you will have to confim that the Email address you entered when you registered is 
        able to receive messages from our system.</p>

        <p>An Email message has just been sent to the address you registered with.  Please check your Email and click on the provided link to confirm your Email Account.</p>

        <p>Your Internet Browser will take you back to DesignBuildPlanIT (DBPIus.com) where you can Log In to your account to start exploring and working right away.</p>

        <p>Thank you for your interest in what we are doing.  We suspect this is the beginning of a long and happy relationship!</p>

        <p>
            Best Regards,<br />
            The DBPI Service Team :)
        </p>

    </div>
</div>

